@import url("https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "MedievalSharp", cursive;
}
.App {
  height: 100vh;
}
.app-body {
  position: relative;
  height: 100%;
}
.app-body::before {
  content: "";
  background-image: url(./images/defense-of-the-ancients-2-dota-1-wallpaper-wallpaper-preview.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  opacity: 0.6;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.header-container {
  position: relative;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 99999;
}
.title-container h1 {
  font-weight: 700;
  color: black;
  font-size: 52px;
}
.instructions p {
  font-weight: 700;
  color: black;
  font-size: 25px;
}
.scoreboard-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  max-width: 450px;
  width: 100%;
}
.current-score {
  font-weight: 700;
  color: black;
  font-size: 25px;
}
.high-score {
  font-weight: 700;
  color: black;
  font-size: 25px;
}
img.rand-card {
  max-width: 200px;
  width: 100%;
  position: relative;
  height: 278px;
  object-fit: contain;
  object-position: center;
  border-radius: 25px;
  border: 3px solid gold;
  background-color: gold;
  cursor: pointer;
}
.card {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-top: 70px;
}
.loser {
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 40px;
}
.loser h1 {
  position: relative;
}
.card-container {
  display: flex;
  position: relative;
  justify-content: center;
  height: 50%;
  align-items: center;
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
}
.over-modal {
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 100%;
  text-align: center;
  font-size: 50px;
}
.over-modal button {
  width: 50%;
  margin: 0 auto;
  height: 60px;
  font-size: 30px;
  background-color: transparent;
  cursor: pointer;
}
